    body {
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
    }
    .modal-backdrop.show {
    opacity: 0;
    }
    .requestnav {
    padding-left: 25px;
    text-decoration: none;
    }
    .servicesnav {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    }
    .nav-publish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    .socialicon {
    transform: translateX(73%);
    }
    .followus {
    position: relative;
    left: 284px;
    top: -50px;
    }
    .LRMmobileB {
    margin: auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 7rem;
    }
    .LRM1Button {
    margin: auto;
    text-align: center;
    height: 3rem;
    background: linear-gradient(to right, #ff6388, #ff0b44);
    border-radius: 10px;
    margin-bottom: 2rem;
    }
    .Modal3IputDIV input {
    height: 3rem;
    }
    .Model3input {
    margin-right: 5%;
    }
    .Modal3Ftext {
    font-size: 14px;
    }
    .Modal3footer {
    display: block;
    }
    .modal-footer img {
    width: 8rem;
    margin: auto;
    }
    .modal-header p {
    font-size: 14px;
    font-weight: bolder;
    }
    .Modal4select1 {
    height: 2.5rem;
    border-radius: 10px;
    background-position: right 2rem center;
    }
    .Modal4input3 {
    height: 5rem;
    border-radius: 10px;
    font-size: 12px;
    }
    .Modal4input5 {
    background-image: url(theme/icons/ic_call_-1.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    font-size: 12px;
    background-position: right 2rem center;
    }
    .Modal4input4,
    .Modal4input5 {
    height: 2.5rem;
    }
    .Modal4input2,
    .Modal4input5 {
    border-radius: 0 0 10px 10px;
    }
    .Modal4input6 {
    height: 2.5rem;
    border-radius: 10px;
    background-image: url(theme/icons/ic_visibility_24px.png);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    font-size: 12px;
    background-position: right 2rem center;
    }
    .form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.2rem;
    margin-right: 10px;
    }
    .modal-body p a {
    font-size: 14px;
    }
    .Modal4Form-Categoryt1 {
    font-size: 13px;
    margin: 0;
    }
    .Modal4Body {
    padding: 1rem 3rem 0 3rem;
    }
    .modal-bodylogin {
    padding: 1rem 3rem 0 3rem;
    }
    .modal-bodysignin {
    padding: 3rem 3rem 0rem 3rem;
    }
    .Modal4footer {
    border: none;
    }
    .modal-content {
    border-radius: 20px;
    }
    .modal-header p {
    font-size: 14px;
    font-weight: bolder;
    }
    .Modal5Body {
    padding: 2rem 3rem 2rem 3rem;
    }
    .Modal5Img {
    width: 9rem;
    height: 3rem;
    margin: auto;
    }
    .Modal5Text1 {
    font-size: 15px;
    text-align: center;
    }
    .Modal5Text2 {
    font-size: 13px;
    text-align: center;
    }
    .Modal6Body {
    padding: 2rem 3rem 0 3rem;
    }
    .FCselect1 {
    border-radius: 10px 10px 10px 10px;
    height: 3rem;
    background-image: url(theme/icons/ic_keyboard_arrow_right_-3.png), url(theme/icons/1280px-Flag_of_France.svg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right .75rem center, left .75rem center;
    background-size: 13px 7px, 30px 15px;
    padding-left: 3rem;
    }
    .FCinput1 {
    border-radius:10px 10px 10px 10px;
    height: 3rem;
    }
    .Modal6Text2 {
    font-size: 12px;
    font-weight: 600;
    }
    .form-check-input {
    width: 1.2rem;
    margin-right: 10px;
    }
    .Modal6Text3 {
    font-size: 12px;
    font-weight: 600;
    }
    .Modal6Body {
    padding: 2rem 3rem 0 3rem;
    }
    .Modal7Body {
    padding: 1rem 3rem 0 3rem;
    }
    .yajari-removebg-preview-1 {
    width: 200px;
    padding-left: 50px;
    }
    #nav-publish {
    margin-left: 30px;
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 170px;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    #nav-home {
    color: palevioletred;
    }
    @media (min-width: 1200px) {
    #nav-login {
    position: absolute;
    right: 160px;
    }
    }
    .background-image {
    width: 100%;
    height: 138px;
    background-image: url(theme/pictures/Group\ 3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding-top: 2.5rem;
    margin: auto;
    }
    .follow-img {
    width: 4rem;
    }
    .MPItext1 {
    font-size: 30px;
    font-weight: bolder;
    }
    .MPItext2 {
    font-size: 16px;
    font-weight: bolder;
    color: #F82669;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    }
    .CompletePcol1 {
    box-shadow: 1px 5px 20px 1px #ffdce7;
    border-radius: 10px;
    }
    .PIcontainer {
    width: 70%;
    }
    .CP2text1,
    .CP2text2 {
    font-size: 14px;
    }
    .CP2text1 {
    color: #F82268;
    font-weight: bold;
    }
    .CP2img {
    width: 2.5rem;
    position: relative;
    top: 10%;
    }
    .hideShowDIV2 {
    display: none;
    }
    .CCDIVcontainer {
    width: 100%;
    box-shadow: 1px 10px 50px 1px #ffdee4;
    border-radius: 20px;
    }
    .ChoseCText1 {
    font-size: 22px;
    font-weight: bolder;
    }
    .ChoseCText2 {
    font-size: 14px;
    }
    .ChoseAddEditC {
    width: 65%;
    margin: auto;
    box-shadow: 1px 5px 30px 0px rgb(228, 228, 228);
    border-radius: 20px;
    }
    .ChoseAddEditB {
    width: 67%;
    margin: auto;
    }
    .ChoseAddEditC p {
    font-weight: 600;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 12px;
    color: #ff0734;
    background-color: #ffebef;
    text-align: center;
    padding-top: 0.7rem;
    }
    .CCButton a {
    text-decoration: none;
    color: white;
    margin-top: 0.5rem;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 8rem;
    }
    .cancel {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    border: 1px solid #ff3665;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 8rem;
    }
    .ViewProfileButton {
    color: white;
    font-size: 14px;
    padding: 0.3rem 1rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 5px;
    position: relative;
    left: -45px;
    }
    @media (max-width:900px) and (min-width:769px) {
    .CCShowtext1 {
    font-size: 22px;
    }
    .ChoseAddEditC {
    width: 70%;
    }
    .ChoseAddEditB {
    width: 72%;
    }
    .CCDIVcontainer {
    width: 80%;
    }
    .CCcontainer {
    width: 90%;
    }
    }
    @media (max-width: 1365px) {
    .PIcontainer {
    width: 85%;
    }
    .CompletePcol1 {
    padding: 3rem 2rem;
    }
    }
    @media (max-width: 800px) {
    .CCDIVimg {
    width: 2rem;
    }
    .ChoseCText1 {
    font-size: 14px;
    }
    .ChoseCText2 {
    font-size: 12px;
    }
    .ChoseAddEditC {
    width: 90%;
    }
    .ChoseAddEditB {
    width: 92%;
    }
    .CCDIVcontainer {
    width: 100%;
    }
    .hideShowDIV2 {
    display: block;
    }
    .hideShowDIV1 {
    display: none;
    }
    .CP2text1 {
    font-size: 12px;
    }
    .CP2text2 {
    font-size: 12px;
    position: relative;
    top: -8px;
    }
    .CP2img {
    width: 2rem;
    }
    .PIcontainer {
    width: 90%;
    }
    .CompletePcol1 {
    padding: 2rem 1rem;
    }
    .MPItext1 {
    font-size: 18px;
    position: relative;
    top: 15px;
    }
    .follow-img {
    width: 40px;
    padding-top: 0.6rem;
    }
    .background-image {
    height: 100px;
    padding-top: 1.5rem;
    }
    body {
    padding-top: 3rem;
    }
    .yajari-removebg-preview-1 {
    width: 120px;
    padding-left: 20px;
    }
    #nav-publish1 {
    display: none;
    }
    #nav-publish2 {
    padding-bottom: 30vh;
    }
    .viewmyprofile {
    position: relative;
    left: 25px;
    }
    .navalign2 {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .nav-publish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 35%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    .navalign {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 9rem;
    margin-left: 16.2rem;
    }
    .CompletePcol2 {
    box-shadow: 1px 5px 20px 1px #ffdce7;
    border-radius: 10px;
    width: 50%;
    float: left;
    }
    .followus {
    position: relative;
    left: 0;
    top: 0;
    }
    .socialicon {
    transform: translateX(10%);
    }
    .requestnav {
    padding-left: 0px;
    text-decoration: none;
    }
    .servicesnav {
    padding-left: 0px;
    padding-right: 20px;
    text-decoration: none;
    }
    .publishnavbar {
    position: relative;
    left: -30px;
    text-align: center;
    width: 27%;
    }
    }
    @media (max-width: 768px) {
    .CCDIVimg {
    width: 2rem;
    }
    .ChoseCText1 {
    font-size: 14px;
    }
    .ChoseCText2 {
    font-size: 12px;
    }
    .ChoseAddEditC {
    width: 90%;
    }
    .ChoseAddEditB {
    width: 92%;
    }
    .CCDIVcontainer {
    width: 100%;
    }
    .hideShowDIV2 {
    display: block;
    }
    .hideShowDIV1 {
    display: none;
    }
    .CP2text1 {
    font-size: 12px;
    }
    .CP2text2 {
    font-size: 12px;
    position: relative;
    top: -8px;
    }
    .CP2img {
    width: 2rem;
    }
    .PIcontainer {
    width: 90%;
    }
    .CompletePcol1 {
    padding: 2rem 1rem;
    }
    .MPItext1 {
    font-size: 18px;
    position: relative;
    top: 15px;
    }
    .follow-img {
    width: 40px;
    padding-top: 0.6rem;
    }
    .background-image {
    height: 100px;
    padding-top: 1.5rem;
    }
    body {
    padding-top: 3rem;
    }
    .yajari-removebg-preview-1 {
    width: 120px;
    padding-left: 20px;
    }
    #nav-publish1 {
    display: none;
    }
    #nav-publish2 {
    padding-bottom: 30vh;
    }
    .viewmyprofile {
    position: relative;
    left: -20px;
    }
    .navalign2 {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .nav-publish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 35%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    .navalign {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 9rem;
    margin-left: 16.2rem;
    }
    .CompletePcol2 {
    box-shadow: 1px 5px 20px 1px #ffdce7;
    border-radius: 10px;
    width: 50%;
    float: left;
    }
    .followus {
    position: relative;
    left: 0;
    top: 0;
    }
    .socialicon {
    transform: translateX(10%);
    }
    .requestnav {
    padding-left: 0px;
    text-decoration: none;
    }
    .servicesnav {
    padding-left: 0px;
    padding-right: 20px;
    text-decoration: none;
    }
    .publishnavbar {
    position: relative;
    left: -30px;
    text-align: center;
    width: 27%!important;
    }
    }
    @media (min-width: 769px) {
    #nav-publish2 {
    display: none;
    }
    }
    @media all and (min-width: 1165px) {
    .navalign {
    padding-left: 355px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    display: inline-flex;
    padding-right: .5rem;
    }
    .ahre {
    padding-left: 2rem;
    }
    .MPItext1 {
    font-size: 25px;
    font-weight: bolder;
    padding-top: 12px;
    }
    .socialicon {
    transform: translateX(60%);
    }
    .followus {
    position: relative;
    left: 241px;
    top: -50px;
    }
    .navalign2 {
    padding-left: 200px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    display: inline-flex;
    }
    .nav-publish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    }
    @media only screen and (max-width: 425px) {
    .navalign {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .ViewProfileButton {
    color: white;
    font-size: 14px;
    padding: 0.3rem 1rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 5px;
    position: relative;
    left: 10px;
    }
    .navalign2 {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .publishnavbar {
    position: relative;
    left: -30px;
    text-align: center;
    width: 50%!important;
    }
    .CompletePcol2 {
    width: 100%;
    }
    .MPItext1 {
    font-size: 18px;
    position: relative;
    top: 25px;
    }
    .navpublish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 56%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    .cancel {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    border: 1px solid #ff3665;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 7rem;
    position: relative;
    left: -97px;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    width: 7rem;
    position: relative;
    left: 101px;
    top: -70px;
    }
    .background-image {
    background-image: url(theme/pictures/Group\ 3.png);
    width: 95%;
    height: 130px;
    border-radius: 7%;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 0px;
    overflow: hidden;
    }
    .sideicon {
    position: relative;
    top: 10px;
    }
    }
    @media only screen and (max-width: 411px) {
    .publishnavbar {
    position: relative;
    left: -30px;
    text-align: center;
    width: 50%;
    }
    }
    @media only screen and (max-width: 375px) {
    .navalign {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .publishnavbar {
    position: relative;
    left: -17px;
    text-align: center;
    width: 50%;
    }
    .navalign2 {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .navpublish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 56%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    .cancel {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    border: 1px solid #ff3665;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 7rem;
    position: relative;
    left: -93px;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    width: 7rem;
    position: relative;
    left: 104px;
    top: -70px;
    }
    }
    @media only screen and (max-width: 360px) {
    .MPItext1 {
    font-size: 16px;
    position: relative;
    top: 24px;
    }
    .publishnavbar {
    position: relative;
    left: -12px;
    text-align: center;
    width: 50%;
    }
    .cancel {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    border: 1px solid #ff3665;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 7rem;
    position: relative;
    left: -86px;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    width: 7rem;
    position: relative;
    left: 90px;
    top: -70px;
    }
    }
    @media only screen and (max-width: 320px) {
    .navalign {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .publishnavbar {
    position: relative;
    left: -12px;
    text-align: center;
    width: 57%;
    }
    .MPItext1 {
    font-size: 15px;
    position: relative;
    top: 24px;
    }
    .cancel {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    border: 1px solid #ff3665;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 6rem;
    position: relative;
    left: -81px;
    }
    .CCButton {
    margin: auto;
    text-align: center;
    height: 2.5rem;
    background: linear-gradient(to right, #ff89a4, #ff0b44);
    border-radius: 10px;
    width: 6rem;
    position: relative;
    left: 84px;
    top: -70px;
    }
    }
    .navalign2 {
    padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }
    .navpublish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 56%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
    }
    @media(min-width:1920px) {
    .background-image {
    width: 100%;
    height: 160px;
    background-image: url(theme/pictures/Group\ 3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding-top: 2.5rem;
    margin: auto;
    }
    }
    @media(max-width:768px) {
    .ViewProfileButton {
    left: 0px;
    }
    .background-image {
    width: 100%;
    height: 130px;
    background-image: url(theme/pictures/Group\ 3.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding-top: 1.5rem;
    margin: auto;
    margin-top: 10px;
    }
    }
    .CompletePcol1, .CompletePcol2 {
    box-shadow: 1px 5px 20px 1px #ffdce7;
    border-radius: 10px;
    }