body{
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
}
.yajari-removebg-preview-1{
    width: 200px;
    padding-left: 50px;
}
#nav-publish{
    margin-left: 30px;
    padding-left: 20px;
    background:linear-gradient(to right,#ffacbf,#fa4d75) ;
    width: 170px;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}
#nav-home{
    color:palevioletred;
}
.background-image{
    width: 100%;
    height: 250px;
    border-radius: 2%;
    background-image: url(pictures/alex-shutin-kKvQJ6rK6S4-unsplash.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.ProfileDropdown p{
    font-size: 14px;
    font-weight: bold;
}
.ProfileDropdown{
    width: 16rem;
    border-radius: 10px;
}
.ProfileDropdown li{
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}
.ProfileDropdown ul{
    padding-left: 0;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed), .accordion-button:focus {
    color: black;
    background-color: white;
    box-shadow: none;
}
.RealizeTextImg1{
    width: 12.4rem;
    margin-top: 7rem;
}
.RealizeTextImg2{
    width: 2rem;
    position: relative;
    top: -4rem;
}
.ProfilePicCard{
    width: 13rem;border: none;background: none;
    position: relative;
    top: -7rem;
    left: 30%;
}
.ProfileText1{
    font-size: 25px;
}
.ProfileDateImg{
    margin-left: 2rem;
    margin-top: 0.7rem;
    width: 1rem;
    height: 1rem;
}
.ProfileText2{
    margin-top: 0.5rem;
    font-size: 16px;
    margin-left: 0.3rem;
}
.ProfileAddressImg{
    width: 1rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
.Privatetext{
    color: #F92168;
    padding: 0.5rem 3rem;
    border: 2px solid #ff4381;
    border-radius: 5px;
}
.BackgroundChangeImg{
    width: 2rem;
    position: relative;
    top: 78%;
    right: 20px;
}
.ShowCaseContainer{
    width: 85%;margin: auto;
}
.AboutMeContainer{
    width: 70%;
    margin: auto;
}
.AboutMeRow1, .AboutMeRow2{
    box-shadow: 1px 3px 20px 1px #ffcede;
    border-radius: 20px;
    padding: 1rem 2rem;
}
.VerficationImg{
    height: 1.5rem;
}
.Verificationtext{
    font-size: 14px;
    margin-left: 1rem;
}
#map{
    width: 100%;height: 340px; border-radius: 20px;
}
.ChoseAddEditC,.PicturesContainer{
    width: 71%;
    margin: auto;
    box-shadow: 1px 3px 20px 1px #ffcede;
    border-radius: 20px;
}
.ChoseAddEditC span{
    font-weight: 600;
    border-radius: 5px;
    font-size: 12px;
    color: #ff0734;
    background-color: #ffebef;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1rem;
}
.upload-Picture{
    width: 10rem;
    height: 11rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    border-style: dashed;
    border-color: rgb(175, 175, 175)
}
.upload-PictureIMG{
    position: relative;
    top: 38%;
    left: 38%;
}
.PicturesContainer{
    padding: 2rem 0 3rem 5rem;
}
.ReviewText{
    font-size:16px; padding-right: 2.7rem;
}
.onlineCard{
    padding: 0.3rem 1rem;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 10px 30px 1px #ffd6e0;
    border: none;
    height: 145px;
}
.ReviewContainer{
    width: 70%;
    margin: auto;
}
.ReviewStarImg{
    height: 1.1rem;
    margin-top: 0.15rem;
    margin-right: 0.3rem;
}
.ReviewDate{
    font-size: 14px;
    margin-left: 1rem;
    margin-top: 0.1rem;
}
.ReviewTextEnd{
    font-size: 12px;
    position: relative;
    top: -12px;
}
.ReviewProfileName{
    font-size: 16px;
    font-weight: bold;
    color: #F81C66;
}






@media (min-width: 1200px) {
    .flex-container{
        position: absolute;
        right: 50px;
        top:20px;
    } 
}
@media (max-width: 1199px) {
    .flex-container{
        position: relative;
        left: 2rem;
        margin-top: 1rem;
    } 
    .ShowCaseContainer{
        width: 90%;margin: auto;
    }
    .AboutMeContainer{
        width: 80%;
        margin: auto;
    }
}
.showcase-text1{
    font-size: 30px; font-weight: 900; padding-top: 4.5rem;
}
@media (max-width: 400px) {
    .Publish-text1{
        font-size: 22px;
    }
}

@media (max-width: 420px){
    .follow-img{
        width: 40px;
        padding-top: 0.6rem;
    }
}
@media (min-width: 461px){
    #nav-publish2{
        display: none;
    }
}
@media (min-width: 769px) {
    .chatDIV2{
        display: none;
    }
}
@media (max-width: 768px) {
    .yajari-removebg-preview-1{
        width: 120px;
        padding-left: 20px;
    }
    #nav-publish1{
        display: none;
    }
    #nav-publish2{
        padding-bottom: 30vh;
    }
    #nav-publish{
        margin-top: 0.8rem;
    }
    .nav-item2{
        height: 3rem;
        border-bottom: 1px solid gray;
    }
    .flex-container{
        position: relative;
        left: 0.2rem;
        margin-top: 1rem;
    } 
    .chatDIV{
        display: none;
    }
    .ProfilePicCard{
        width: 13rem;border: none;background: none;
        position: relative;
        top: -7rem;
        left: 10%;
    }
    .ProfileText1{
       font-size: 20px;
       margin-top: 0.3rem; 
    }
    body{
        padding-top: 2rem;
    }
    .ShowCaseContainer{
        width: 90%;
    }
    .AboutMeContainer{
        width: 90%;
        
    }
    .AboutMeRow1, .AboutMeRow2{
        padding: 1rem;
    }
    .ChoseAddEditC,.PicturesContainer{
        width: 80%;
    }
    .upload-Picture{
        width: 6rem;
        height: 6rem;
    }
    .upload-PictureIMG{
        position: relative;
        top: 30%;
        left: 30%;
    }
    .PicturesImg{
        width: 6.5rem;
        height: 6.5rem;
    }
    .PicturesContainer{
        padding: 2rem 0 2rem 1rem;
    }
    .ReviewText{
        font-size:14px;
        padding-right: 0.1rem;
    }
    .ReviewContainer{
        width: 85%;
    }
    .PicturesContainer{
        width: 90%;
    }
    .ReviewStarImg{
        width: 6rem;
        height: 1rem;
        margin-top: 0.2rem;
        margin-right: 0.3rem;
    }
}


 @media all and (min-width: 1165px) {
        .navalign{
     padding-left: 195px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    display: inline-flex;
    padding-right: .5rem;
    }


    .joined{
        position: relative;
    left: 190px;
}
    }


    .iconfb{
        position: relative;
   
    top: 60px;
    }

     .buton{
       position: relative;
    left: -112px;;
    }

     .reportcard{
            position: relative;
    left: 276px;
    }



    .contactincard{
    position: relative;
    left: 278px;
    }


    .col1{
    position: relative;
    left: 100px;
    }

    .col2{
    position: relative;
    left: 25px;
    }



    .topsiderbarbutton{
    background-color: white;
    color: black;
    width: 115%;
    text-align: left;
    border: 1px solid #a6a4a4;
    position: relative;
    left: -44px;
    border-radius: 15px;
    }

.btn-primary:hover {
    color: #060606;
    background-color:white;
    border-color: black;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {

color: #060606;
    background-color:white;
    border-color: black;

}



    .bottomslider{
        width: 85%;margin: auto; box-shadow: 0 0 10px 0 rgb(207, 207, 207);border-radius: 10px;
    }



      .bottomslider2{
        width: 100%;margin: auto; box-shadow: 0 0 10px 0 rgb(207, 207, 207);border-radius: 10px;position: relative;left: 30px;
    }

    .searchbar{


    margin: auto;
    position: relative;
    width: 75%
    }

    .sidebar1{
        background-color: white; border-radius: 10px;box-shadow: 10px 10px 100px 1px #ffe8ef; padding-left: 10px; margin: auto;    position: relative;
    left: 40px;
    top: -22px;
        border: 1px solid;
    border-color: #64e2f5;
}
    

    .searchbardown{
        position: relative;
    top: -20px;
   
    }

    .sidebarcard2{
          position: relative;
    top: 70px;
    left: 35px;
    }
 


    .leftsidebar{


        width: 80%;
        margin: auto;
        position: relative;
        bottom: 20px;
        left: 30px;
    }

    .bottomsidebar{

    width: 75%;
    margin: auto;
    position: relative;
    top: 30px;
    }



    .ahre{
            padding-left: 2rem;
    }


    .mainpicture{


        padding-left: 100px;
    }


    .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



.navalign2{
     padding-left: 200px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    display: inline-flex;
    }    

    .nav-publish{
    
    padding-left: 20px;
    background:linear-gradient(to right,#ffacbf,#fa4d75);
  
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}

.search{
        padding-right: 5rem;
}


.smallbutton{
    position: relative;
    left: -80px;
}



.backgroundimage{
    border-radius: 25px;width:95%;height: 195px;
}
  
  }



  @media only screen and (max-width: 450px) {
 .navalign{
        padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }

    .iconfb{
        position: relative;
    
    }


    .buton{
     position: relative;
    left: -25px;
    top: 15px;
    }

    .contactincard{
    position: relative;
    right: 15px;

    }


      .bottomslider2{
        width: 100%;margin: auto; box-shadow: 0 0 10px 0 rgb(207, 207, 207);border-radius: 10px;position: relative;left: 0px;
    }



    .reportcard{
            position: relative;
    left: -2px;
    }


     .topsiderbarbutton{
        background-color: white;
    color: black;
    width: 100%;
    text-align: left;
    border: 1px solid #a6a4a4;
   

    border-radius: 15px;
    }

    .sidebar1{
        background-color: white; border-radius: 10px;box-shadow: 10px 10px 100px 1px #ffe8ef; padding-left: 10px; margin: auto;
         border: 1px solid;
    border-color: #64e2f5;


    }

    .bottomsidebar{
        width: 100%;
         margin: auto;
    position: relative;
    top: 30px;
    }

    .bottomslider{
         width: 100%;margin: auto; box-shadow: 0 0 10px 0 rgb(207, 207, 207);border-radius: 10px;
    }

    .sidebarcard2{
          position: relative;
    top: 5px;
    }


    .leftsidebar{
         width: 100%;
        margin: auto; 
        height: auto;
    }

     .mainpicture{


        padding-left: 0px;
    }

    .backgroundimage{
         border-radius: 20px;
    width: 100%;
    position: relative;
    left: 15px;
    }



.smallbutton{
     position: initial;
}

    .sidebartop{
        position: relative;
    top: 20px;
    }

     .searchbar{


    margin: auto;
    
    width: 100%;
    }

     .searchbardown{
       text-align: left!important;
    }


    

    .navalign2{
        padding-left: 30px;
    padding-top: 10px;
    color: #ff6e9a;
    font-weight: bold;
    }

    .nav-publish{
    
    padding-left: 20px;
    background:linear-gradient(to right,#ffacbf,#fa4d75);
    width: 56%;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}


.search{
        padding-right: 0rem;
}

}


