body {
    font-family: 'Poppins', sans-serif;
    padding-top: 5rem;
}

.selectoption {
    width: 5rem;
    height: 2.3rem;
    color: #F91B66;
    border-color: lightgray;

    border-width: 1px;
    text-align-last: center;
    background-color: white;
    margin-left: 53px;
    position: relative;
    top: -8px;
    font-weight: inherit;
    font-size: 13px;
    border-radius: 4px;
}

.selectoption:focus {
    box-shadow: 0 0 0 0.15rem rgb(253 181 198);
}



.requestnav {
    padding-left: 25px;
    text-decoration: none;
}

.servicesnav {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.navpublish {
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}

.modal-backdrop.show {
    opacity: 0;
}

.LRMmobileB {
    margin: auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 3rem;
}

.LRM1Button {
    margin: auto;
    text-align: center;
    height: 3rem;
    background: linear-gradient(to right, #ff6388, #ff0b44);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.Modal3IputDIV input {
    height: 3rem;
}

.Model3input {
    margin-right: 5%;
}

.Modal3Ftext {
    font-size: 14px;
}

.Modal3footer {
    display: block;
}

.modal-footer img {
    width: 8rem;
    margin: auto;
}

.modal-header p {
    font-size: 14px;
    font-weight: bolder;
}

.Modal4select1 {
    height: 2.5rem;
    border-radius: 10px;
    background-position: right 2rem center;
}

.Modal4input3 {
    height: 5rem;
    border-radius: 10px;
    font-size: 12px;
}

.Modal4input5 {
    background-image: url(icons/ic_call_-1.png);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    font-size: 12px;
    background-position: right 2rem center;
}

.Modal4input4,
.Modal4input5 {
    height: 2.5rem;
}

.Modal4input2,
.Modal4input5 {
    border-radius: 0 0 10px 10px;
}

.Modal4input6 {
    height: 2.5rem;
    border-radius: 10px;
    background-image: url(icons/ic_visibility_24px.png);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    font-size: 12px;
    background-position: right 2rem center;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.2rem;
    margin-right: 10px;
}

.modal-body p a {
    font-size: 14px;
}

.Modal4Form-Categoryt1 {
    font-size: 13px;
    margin: 0;
}

.Modal4Body {
    padding: 1rem 3rem 0 3rem;
}

.modal-bodylogin {
    padding: 1rem 3rem 0 3rem;
}

.modal-bodysignin {
    padding: 3rem 3rem 0rem 3rem;
}

.Modal4footer {
    border: none;
}

.modal-content {
    border-radius: 20px;
}

.modal-header p {
    font-size: 14px;
    font-weight: bolder;
}

.Modal5Body {
    padding: 2rem 3rem 2rem 3rem;
}

.Modal5Img {
    width: 9rem;
    height: 3rem;
    margin: auto;
}

.Modal5Text1 {
    font-size: 15px;
    text-align: center;
}

.Modal5Text2 {
    font-size: 13px;
    text-align: center;
}

.Modal6Body {
    padding: 2rem 3rem 0 3rem;
}

.FCselect1 {
    border-radius: 10px 10px 10px 10px;
    height: 3rem;
    background-image: url(icons/ic_keyboard_arrow_right_-3.png), url(icons/1280px-Flag_of_France.svg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right .75rem center, left .75rem center;
    background-size: 13px 7px, 30px 15px;
    padding-left: 3rem;
}

.FCinput1 {
    border-radius: 10px 10px 10px 10px;
    height: 3rem;
}

.Modal6Text2 {
    font-size: 12px;
    font-weight: 600;
}

.form-check-input {
    width: 1.2rem;
    margin-right: 10px;
}

.Modal6Text3 {
    font-size: 12px;
    font-weight: 600;
}

.Modal6Body {
    padding: 2rem 3rem 0 3rem;
}

.Modal7Body {
    padding: 1rem 3rem 0 3rem;
}

.yajari-removebg-preview-1 {
    width: 200px;
    padding-left: 50px;
}

#nav-publish {
    margin-left: 30px;
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 170px;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}

.form-img1 {
    height: 2.7rem;
}

.form-button1 {
    padding-top: 0.2rem;
}

.yajari-removebg-preview-1 {
    width: 200px;
    padding-left: 50px;
}

#nav-publish {
    margin-left: 30px;
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 170px;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}

@media (min-width: 1200px) {
    #nav-login {
        position: absolute;
        right: 160px;
    }
}

.showcase-text1 {
    font-size: 26px;
    font-weight: 900;
    padding-top: 2rem;
}

.showcase-text2 {
    font-size: 18px;
    font-weight: 500;
}

.Publish-text1 {
    font-size: 25px;
    font-weight: 900;
}

@media (max-width: 400px) {
    .Publish-text1 {
        font-size: 22px;
    }
}


@media (max-width: 766px) {
    .showcase-text1 {
        font-size: 15px;
        position: relative;
        top: -5px;
    }

    .showcase-text2 {
        font-size: 14px;
        position: relative;
        top: -15px;
    }
}

@media (max-width: 1000px) and (min-width: 767px) {
    .showcase-text1 {
        font-size: 20px;
    }
}

.RequestContactButton {
    height: 1.65rem;
    background-image: linear-gradient(to right, #FD9C8D, #F81564);
    border-radius: 5px;
}

#pagination-num {
    width: 35px;
    height: 35px;
    color: #F81564;
    border: 1px solid #F81564;
    border-radius: 50%;
}

#pagination-num:active {
    color: white;
    background-color: #F81564;
    box-shadow: none;
}

#pagination-num:focus {
    color: white;
    background-color: #F81564;
    box-shadow: none;
}

.page-item {
    text-decoration: none;
}

#nav-publish {
    margin-left: 30px;
    padding-left: 20px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 170px;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding-top: 10px;
}

#Contact-b1 {
    height: 30px;
    background: linear-gradient(to right, #ffacbf, #fa4d75);
    width: 130px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    padding-top: 6px;
}

@media (max-width: 560px) {
    body {
        padding-top: 3rem;
    }

    #responsesID2 {
        display: none;
    }

    #responsesID1 {
        display: flex;
    }

    .response {
        position: relative;
        top: 80px;
    }

    #request-textID1 {
        font-size: 12px;
        margin: auto;
        padding-top: 10px;
    }

    #request-textID2 {
        font-size: 12px;
        font-weight: 500;
    }

    .requestFaceImg1 {
        width: 70px;
        padding-left: 10px;
    }

    .requestFaceImgTICK {
        position: absolute;
        top: 1.4rem;
        left: 3.8rem;
        width: 1.3rem;
    }

    .Responses-Name1 {
        font-size: 13px;
        padding-top: 0;
    }

    .responses-star1 {
        width: 70px;
        height: 12px;
    }

    .responses-date1 {
        color: #F82569;
        padding-left: 10px;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .Responses-starText {
        padding-left: 5px;
        font-size: 11px;
    }

    .responses-heart1 {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 1px;
        padding-top: 0;
    }

    .responses-tQ1 {
        font-size: 12px;
    }

    .responses-buttons1234 {
        font-size: 11px;
        padding-left: 10px;
        padding-top: 3px;
    }

    .card-img-top {
        width: 3rem;
    }

    .form-button1 {
        background-color: rgb(247, 244, 244);
        padding-top: 5px;
    }
}

@media (min-width: 561px) {
    #responsesID2 {
        display: flex;
    }

    #LineID1 {
        display: none;
    }

    #responsesID1 {
        display: none;
    }

    #request-textID1 {
        font-size: 14px;
        margin: auto;
    }

    #request-textID2 {
        font-size: 14px;
        font-weight: 500;
    }

    .requestFaceImg1 {
        width: 80px;
        padding-left: 10px;
        height: 80px;
    }

    .requestFaceImgTICK {
        position: absolute;
        top: 2rem;
        left: 4.7rem;
        width: 1.3rem;
    }

    .Responses-Name1 {
        font-size: 15px;
    }

    .responses-star1 {
        width: 90px;
        height: 15px;
    }

    .responses-date1 {
        color: #F82569;
        padding-left: 10px;
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .Responses-starText {
        padding-left: 5px;
        font-size: 12px;
    }

    .responses-heart1 {
        width: 1.2rem;
        height: 1.3rem;
        padding-top: 0.2rem;
        margin-right: 10px;
    }

    .responses-tQ1 {
        font-size: 15px;
    }

    .responses-buttons1234 {
        font-size: 13px;
        padding-left: 10px;
    }

    .card-img-top {
        width: 4rem;
    }
}

@media (max-width: 420px) {
    .follow-img {
        width: 40px;
        padding-top: 0.6rem;
    }
}

@media (max-width: 460px) {
    #Logo-view1 {
        display: none;
    }

    .yajari-removebg-preview-1 {
        width: 120px;
        padding-left: 20px;
    }

    #nav-publish1 {
        display: none;
    }

    #nav-publish2 {
        padding-bottom: 30vh;
    }
}

@media (min-width: 461px) {
    #Logo-view2 {
        display: none;
    }

    #nav-publish2 {
        display: none;
    }
}

.modal-content {
    border-radius: 10px;
    box-shadow: 1px 2px 30px 1px #ff99b8;
}

.MBText1 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ff155b;
}

.MBText2 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 2rem;
    color: black;
}

.SendMessageButton,
.CallButton,
.CallButton2 {
    text-decoration: none;
    color: white;
    font-size: 14px;
    background: linear-gradient(to right, #ff719b, #ff155b);
    padding: 0.6rem 2rem;
    border-radius: 5px;
}

.CallButton {
    background: gray;
    padding: 0.6rem 3rem;
}

.CallButton2 {
    background: gray;
    padding: 0.6rem 5rem;
}

.modal-body {
    padding: 2rem 4rem 4rem 4rem;
}

.MBText3 {
    font-size: 22px;
    text-align: center;
    margin: 2rem auto;
}

.ReportCol {
    text-align: end;
    margin-right: 1rem;
}

.QuotationButton {
    background-color: #fec8d9;
    color: #F82669;
    height: 25px;
    border: hidden;
    border-radius: 5px;
}

.ReportContactFlex {
    justify-content: right;
    position: relative;
    left: 275px;
}

.RatingText1 {
    font-size: 13px;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

.RequestDIVP {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 100px 1px #ffe2eb;
    padding: 1rem 2rem 0.5rem 3rem;
    margin: auto;
}

.CardNameStar {
    margin-left: 3rem;
}

.NeighborsSText1 {
    font-size: 28px;
    color: #F82569;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 5px;
}

form input {
    height: 3rem;
    background: white;
}

.SearchButton {
    position: relative;
    width: 5rem;
    height: 3rem;
    background: white;
    border: 1px solid rgb(226, 226, 226);
}

.SearchButtonImg {
    position: absolute;
    top: 0.8rem;
    left: 1.5rem;
}

.SearchRow {
    width: 92%;
    margin: auto;
    box-shadow: 1px 3px 5px 1px rgb(216, 216, 216);
    border-radius: 10px;
}

form input::placeholder {
    font-weight: 600;
    color: black;
    font-size: 16px;
}

#dropdownMenuButton1 {
    width: 10rem;
    height: 4rem;
    box-shadow: 1px 3px 5px 1px rgb(216, 216, 216);
    border-radius: 10px;
    font-size: 16px;
    color: black;
}

.NoButton {
    font-size: 16px;
    text-decoration: none;
    color: #F81D66;
    border: 1px solid #F81D66;
    padding: 0.5rem 4rem;
    border-radius: 10px;
}

.YesButton {
    font-size: 16px;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #ff6d9e, #ff0156);
    padding: 0.5rem 4rem;
    border-radius: 10px;
}

.NoButton:hover,
.YesButton:hover {
    color: black;
}

textarea::placeholder {
    font-size: 14px;
    color: black;
}

.ReportModalBody {
    padding: 1rem 7rem 3rem 7rem;
}


.PublishRequestROW {
    margin-top: 2.5rem;
}

@media (max-width: 768px) {
    .PublishRequestROW {
        margin-top: 1rem;
    }

    .response2 {
        position: relative;
        top: 1px;
    }

    .distanceside {
        position: relative;
        left: 15px;
    }

    textarea::placeholder {
        font-size: 13px;
    }

    .ReportModalBody {
        padding: 1rem 1rem 3rem 1rem;
    }

    #dropdownMenuButton1 {
        margin-left: 1.3rem;
    }

    .NeighborsSText1 {
        font-size: 22px;
    }

    #request-textID2 {
        margin: 0.4rem 0.1rem;
    }

    .CardNameStar {
        margin-left: 1rem;
    }

    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: -15px;
        top: 10px
    }

    .RequestDIVP {
        padding: 0.1rem 0 0.1rem 0.5rem;
        width: 105%;
    }

    .RatingText1 {
        font-size: 11px;
        margin-top: 0.1rem;
    }

    .ReportContactFlex {
        justify-content: space-between;
    }

    .ReportCol {
        text-align: start;
    }

    .SendMessageButton,
    .CallButton {
        font-size: 12px;
        padding: 0.2rem 1rem;
        border-radius: 5px;
    }

    .CallButton {
        padding: 0.2rem 2rem;
    }

    .Modelinput {
        margin-right: 3%;
    }

    .MBText1 {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .MBText2 {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .modal-body {
        padding: 2rem 1rem;
    }

    .responses-buttons1234 {
        margin-bottom: 0.5rem;
    }

    .navalign {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .nav-publish {
        padding-left: 20px;
        background: linear-gradient(to right, #ffacbf, #fa4d75);
        width: 35%;
        color: white;
        border-radius: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .navalign2 {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .Contact-b1 {
        height: 35px;
        position: relative;
        left: 67px;
        top: -8px;
    }

    .smallbutton {
        position: relative;
        left: -190px;
        top: 70px;
    }

    .lastimgtext {
        position: relative;
        left: 80px;
    }

    .selectoption {
        width: 6rem;
        height: 2.3rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -8px;
    }
}

@media all and (min-width: 1165px) {
    .navalign {
        padding-left: 240px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
        display: inline-flex;
        padding-right: .5rem;
    }

    .response2 {
        position: relative;
        top: 3px;
    }

    .arrow {
        position: relative;
        top: 2px;
    }

    .distance {
        position: relative;
        top: 3px;
    }

    .smallbutton {
        position: relative;
        top: 50px;
        left: -195px;
    }

    .lastimgtext {
        position: relative;
        top: -30px;
        left: 60px;
    }

    /*
    .background-image2 {
        width: 65%;
        height: 150px;
        background-image: url(pictures/Group\ 2382.png);
        background-position: center;
        background-size: cover;
        position: relative;
        left: 259px;
        overflow: hidden;
    }
*/

    .Contact-b1 {
        height: 25px;
        color: white;
        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        padding-top: 0px;
        float: right;
        border-color: white;
    }

    .btn-primary:hover {
        border-color: white;
    }

    .ahre {
        padding-left: 2rem;
    }

    .categryicon {
        position: relative;
        left: -29px;
    }

    .looking {
        font-size: 15px;
    }

    .category {
        position: relative;
        left: -25px;
    }

    .navalign2 {
        padding-left: 200px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
        display: inline-flex;
    }

    .nav-publish {
        padding-left: 20px;
        background: linear-gradient(to right, #ffacbf, #fa4d75);
        color: white;
        border-radius: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .categorytext {
        position: relative;
        left: -25px;
        top: 1px;
    }

    .socialicon {
        transform: translateX(63%);
    }

    .followus {
        position: relative;
        left: 284px;
        top: -50px;
    }
}

@media only screen and (max-width: 425px) {
    .myrequesttop {
        padding-top: 1rem !important;
        padding-bottom: 0rem !important;
    }

    .requestnav {
        padding-left: 0px;
        text-decoration: none;
    }

    .servicesnav {
        padding-left: 0px;
        padding-right: 0px;
        text-decoration: none;
    }

    .publishnavbar {
        position: relative;
        left: -30px;
        text-align: center;
        width: 51%;
    }

    .publishbutton {
        position: relative;
        top: -24px;
    }

    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 0px
    }

    .follow-img {
        width: 40px;
        padding-top: 0.6rem;
    }

    .footertop {
        position: relative;
        top: -52px;
    }

    .rowtop {
        position: relative;
        top: -5px;
    }

    .starticon {
        position: relative;
        top: -4px;
    }

    .Contact-b1 {
        height: 25px;
        position: relative;
        left: 327px;
        top: -37px;
        border-color: white;
    }

    .responsetop {
        position: relative;
        top: 35px;
    }

    .navalign {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .navalign2 {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .nav-publish {
        padding-left: 20px;
        background: linear-gradient(to right, #ffacbf, #fa4d75);
        width: 56%;
        color: white;
        border-radius: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .RequestDIVP {
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 100px 1px #ffe2eb;
        padding: 1rem 2rem 0.5rem 1rem;
        margin: auto;
        height: 296px;
        width: 100%;
    }


    .hrtop {
        position: relative;
        top: -12px;
        width: 98%;
        margin: auto;
        height: 2px;
        position: relative;
        left: 6px;
    }

    .lebardoicon {
        position: relative;
        left: 0px;
    }

    .lebardotext {
        position: relative;
        left: 5px;
    }

    .picturebottom {
        padding-bottom: 12px;
    }

    .looking {
        font-size: 12px;
    }

    .Publish-text1 {
        font-size: 15px;
        font-weight: 900;
        padding-top: 2rem;
        position: relative;
        left: 80px;
        top: -25px;
    }

    .lastimagetop {
        position: relative;
        top: -23px;
    }

    .smallbutton {
        position: relative;
        left: -120px;
        top: 51px;
    }

    .iconcategory {
        position: relative;
        left: -186px;
        top: 36px
    }

    .categorytext {
        position: relative;
        left: -188px;
        top: 36px;
    }

    .responseicon {
        position: relative;
        left: 258px;
    }

    .responsetext {
        position: relative;
        left: 255px;
    }

    .arrow {
        position: relative;
        top: -28px;
        left: 135px;
    }

    .distance {
        position: relative;
        left: 133px;
        top: -30px;
    }

    .distanceside {
        position: relative;
        left: 0px;
    }

    .selectoption {
        width: 6rem;
        height: 2rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -36px;
        left: 257px;
    }
}

@media only screen and (max-width: 411px) {
    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 0px
    }

    .distanceside {
        position: relative;
        left: 0px;
    }

    .Contact-b1 {
        height: 25px;
        position: relative;
        left: 318px;
        top: -33px;
        border-color: white;
    }

    .arrow {
        position: relative;
        top: -29px;
        left: 133px;
    }

    .distance {
        position: relative;
        left: 130px;
        top: -31px;
    }

    .iconcategory {
        position: relative;
        left: -178px;
        top: 36px
    }

    .categorytext {
        position: relative;
        left: -178px;
        top: 36px;
    }

    .responseicon {
        position: relative;
        left: 242px;
    }

    .responsetext {
        position: relative;
        left: 240px;
    }

    .selectoption {
        width: 6rem;
        height: 2rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -35px;
        left: 241px;
    }
}

@media only screen and (max-width: 375px) {
    .Contact-b1 {
        height: 25px;
        position: relative;
        left: 279px;
        top: -36px;
        color: white
    }

    .selectoption {
        width: 6rem;
        height: 2rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -35px;
        left: 205px;
    }


    .publishnavbar {
        position: relative;
        left: -20px;
        text-align: center;
        width: 51%;
    }

    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 0px
    }

    .distanceside {
        position: relative;
        left: 0px;
    }

    .arrow {
        position: relative;
        top: -28px;
        left: 115px;
    }

    .distance {
        position: relative;
        left: 111px;
        top: -30px;
    }

    .navalign {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .navalign2 {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .nav-publish {
        padding-left: 20px;
        background: linear-gradient(to right, #ffacbf, #fa4d75);
        width: 56%;
        color: white;
        border-radius: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .RequestDIVP {
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 100px 1px #ffe2eb;
        padding: 1rem 2rem 0.5rem 1rem;
        margin: auto;
        height: 295px;
        width: 100%;
    }

    .Publish-text1 {
        font-size: 15px;
        font-weight: 900;
        padding-top: 2rem;
        position: relative;
        left: 0px;
        top: -25px;
    }

    .smallbutton {
        position: relative;
        left: -5px;
        top: -25px;
    }

    .iconcategory {
        position: relative;
        left: -160px;
        top: 36px
    }

    .categorytext {
        position: relative;
        left: -159px;
        top: 36px;
    }

    .responseicon {
        position: relative;
        left: 210px;
    }

    .responsetext {
        position: relative;
        left: 205px;
    }
}

@media only screen and (max-width: 360px) {
    .Contact-b1 {
        height: 25px;
        position: relative;
        left: 267px;
        top: -34px;
        color: white;
    }

    .selectoption {
        width: 6rem;
        height: 2rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -35px;
        left: 194px;
    }

    .publishnavbar {
        position: relative;
        left: -14px;
        text-align: center;
        width: 51%;
    }

    .distanceside {
        position: relative;
        left: 0px;
    }

    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 0px
    }

    .hrtop {
        top: -12px;
        width: 99%;
        margin: auto;
        height: 2px;
        position: relative;
        left: 9px;
    }

    .Publish-text1 {
        font-size: 15px;
        font-weight: 900;
        padding-top: 2rem;
        position: relative;
        left: 3px;
        top: -25px
    }

    .arrow {
        position: relative;
        top: -28px;
        left: 107px;
    }

    .distance {
        position: relative;
        left: 102px;
        top: -30px;
    }

    .smallbutton {
        position: relative;
        left: -2px;
        top: -22px;
    }

    .iconcategory {
        position: relative;
        left: -152px;
        top: 36px
    }

    .categorytext {
        position: relative;
        left: -153px;
        top: 36px;
    }

    .responseicon {
        position: relative;
        left: 195px;
    }

    .responsetext {
        position: relative;
        left: 194px;
    }

    .background-image2 {
        height: 130px;
        width: 90%;
        position: relative;
        left: 20px;
    }

    .RequestDIVP {
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 100px 1px #ffe2eb;
        padding: 1rem 2rem 0.5rem 1rem;
        margin: auto;
        height: 293px;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .navalign {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .selectoption {
        width: 6rem;
        height: 2rem;
        color: #F91B66;
        border-color: lightgray;

        border-width: 1px;
        text-align-last: center;
        background-color: white;
        margin-left: 0px;
        position: relative;
        top: -35px;
        left: 155px;
    }

    .arrow {
        position: relative;
        top: -28px;
        left: 87px;
    }

    .publishnavbar {
        position: relative;
        left: -26px;
        text-align: center;
        width: 65%;
    }

    .QuotationButton {
        font-size: 12px;
        position: relative;
        left: 10px;
        top: 0px
    }

    .distanceside {
        position: relative;
        left: 0px;
    }

    .distance {
        position: relative;
        left: 80px;
        top: -30px;
    }

    .Contact-b1 {
        height: 25px;
        position: relative;
        left: 227px;
        top: -34px;
        border-color: white;
    }

    .RequestDIVP {
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 100px 1px #ffe2eb;
        padding: 1rem 2rem 0.5rem 1rem;
        margin: auto;
        height: 294px;
        width: 100%;
    }

    .navalign2 {
        padding-left: 30px;
        padding-top: 10px;
        color: #ff6e9a;
        font-weight: bold;
    }

    .nav-publish {
        padding-left: 20px;
        background: linear-gradient(to right, #ffacbf, #fa4d75);
        width: 56%;
        color: white;
        border-radius: 20px;
        align-items: center;
        padding-top: 10px;
    }

    .iconcategory {
        position: relative;
        left: -134px;
        top: 36px
    }

    .categorytext {
        position: relative;
        left: -134px;
        top: 36px;
    }

    .responseicon {
        position: relative;
        left: 155px;
    }

    .responsetext {
        position: relative;
        left: 155px;
    }
}

@media(max-width:768px) {

    .background-image {
        border-radius: 25px;
        width: 100%;
        height: 140px;
        background-image: url(pictures/Group\ 12.png);
        background-position: center;
        background-size: cover;
        position: relative;
        left: 0px;
        overflow: hidden;
    }

    .pt-3 {
        padding-top: 1.72rem !important;
    }

    .background-image2 {
        width: 85% !important;
        height: 140px;
        background-image: url(pictures/Group\ 2382.png);
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        top: 0px !important;
    }
}

@media(min-width:1920px) {
    .background-image2 {
        width: 35%;
        height: 150px;
        background-image: url(pictures/Group\ 2382.png);
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        top: -50px;
        margin: 0 auto;
    }
}
