<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="ProfessionalProfileStyle.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>ya jari</title>
    <style type="text/css">
        @media all and (min-width: 1280px) {
            .joined {
                position: relative;
                left: 168px;
            }
        }

        @media all and (min-width: 1440px) {
            .joined {
                position: relative;
                left: 274px;
            }

            .loadmore {
                text-decoration: none;
                color: #08B1E7;
                font-size: 16px;
                font-weight: 600;
                position: relative;
                left: 243px;
                top: 16px;
            }


        }

        @media all and (min-width: 1590px) {
            .navalign {
                padding-left: 173px;
                padding-top: 10px;
                color: #ff6e9a;
                font-weight: bold;
                display: inline-flex;
                padding-right: .5rem;
            }


            .whitestar {
                position: relative;
                top: -3px;
                width: 33px;
            }

            .ahre {
                padding-left: 2rem;
            }

            .centertick {
                width: 50px;
            }

            .sendfont {
                font-size: 15px;
            }

            .servicesicon {
                font-weight: 600;
                border-radius: 5px;
                font-size: 12px;
                color: #08B1E7;
                background-color: #cbf2ff;
                text-align: center;
                padding: 0.5rem .5rem;
                margin: .5rem;
            }

            .loadmore {
                text-decoration: none;
                color: #08B1E7;
                font-size: 16px;
                font-weight: 600;
                position: relative;
                left: 20px;
                top: 16px;
            }

            .joined {
                position: relative;
                left: 328px;
            }

            .upload-Picture {
                width: 12rem;
                height: 10.9rem;
                margin-left: 0.3rem;
                margin-top: 0.3rem;
                border-style: dashed;
                border-color: rgb(175, 175, 175);
            }

            /*
            .iconsettingprofile {
                width: 3rem;
                position: relative;
                left: 66px;
                top: 60px;
            }
*/

            .ReportCol {

                margin-right: 18rem;
            }

            .navalign2 {
                padding-left: 730px;
                padding-top: 10px;
                color: #ff6e9a;
                font-weight: bold;
                display: inline-flex;
            }

            .nav-publish {

                padding-left: 20px;
                background: linear-gradient(to right, #ffacbf, #fa4d75);

                color: white;
                border-radius: 20px;
                align-items: center;
                padding-top: 10px;
            }

            .searchbardown {
                position: relative;
                top: -10px;
                left: -160px
            }

            .col-xxl-7 {
                flex: 0 0 auto;
                width: 100%;

            }

            .searchbar {
                position: relative;
                width: 160%;
                left: -160px;
            }

            .lastpic {
                position: relative;
                top: 7px;
                left: 35px;
            }

            .CRButton2 {
                text-align: center;
                width: 13rem;
                height: 3.5rem;
                background: linear-gradient(to right, #ff6d99, #fd0d55);
                border-radius: 6px;
                position: relative;
                left: -100px;
            }

            .SendRequestButton {
                background: linear-gradient(to right, #77EDF9, #0FB5E8);
                text-decoration: none;
                text-align: center;
                width: 10rem;
                padding: 0.5rem 0;
                color: white;
                border-radius: 5px;
                font-size: 13px;
                margin: auto;
                padding-right: 0;
            }

            .previews {
                background: linear-gradient(to right, #77EDF9, #0FB5E8);
                text-decoration: none;
                text-align: center;
                width: 15rem;
                padding: 0.5rem 0;
                color: white;
                border-radius: 5px;
                font-size: 16px;
                margin: auto;
                padding-right: 0;
                height: 2.7rem;
            }

            .followus {
                position: relative;
                left: 325px;
                top: -50px;
            }

            .socialicon {
                transform: translateX(75%);
            }
        }

        }

        @media (min-width: 1600px) {
            .previews {
                background: linear-gradient(to right, #77EDF9, #0FB5E8);
                text-decoration: none;
                text-align: center;
                width: 15rem;
                padding: 0.5rem;
                color: white;
                border-radius: 5px;
                font-size: 16px;
                margin: auto;
                padding-right: 0;
                height: 2.7rem;
            }
        }


        @media all and (min-width: 1800px) {

            .joined {
                position: relative;
                left: 401px;
            }


            .whitestar {
                position: relative;
                top: -3px;
                width: 31px;
            }


        }




        @media all and (min-width: 1920px) {
            .joined {
                position: relative;
                left: 555px;
            }

            .SendRequestButton {
                background: linear-gradient(to right, #77EDF9, #0FB5E8);
                text-decoration: none;
                text-align: center;
                width: 12rem;
                padding: 0.8rem;
                font-size: 16px;
                margin: auto;
                padding-right: 0;
            }

            .socialicon {
                transform: translateX(75%);
            }

            .followus {
                position: relative;
                left: 326px;
                top: -50px;
            }


            .whitestar {
                position: relative;
                top: -3px;
                width: 33px;
            }

            .navalign {
                padding-left: 173px;
                padding-top: 10px;
                color: #ff6e9a;
                font-weight: bold;
                display: inline-flex;
                padding-right: .5rem;
            }

            .sendfont {
                font-size: 18px;
            }

            .upload-Picture {
                width: 13.5rem;
                height: 13.5rem;
                margin-left: 0.3rem;
                margin-top: 0.51rem;
                border-style: dashed;
                border-color: rgb(175, 175, 175);
            }

            .previews {
                background: linear-gradient(to right, #77EDF9, #0FB5E8);
                text-decoration: none;
                text-align: center;
                width: 20rem;
                padding: 0.5rem 0;
                color: white;
                border-radius: 5px;
                font-size: 20px;
                margin: auto;
                padding-right: 0;
                height: 3.5rem;
                padding-top: 12px;
            }

            .centertick {
                width: 65px;
            }
                .mrgin_leftt {
        margin-left: 0px
    }

        }


  @media all and (min-width: 2400px) {

  .joined {
    position: relative;
    left: 755px;
}


.upload-Picture {
    width: 16.5rem;
    height: 17.5rem;
    margin-left: 0.3rem;
    margin-top: 0.51rem;
    border-style: dashed;
    border-color: rgb(175, 175, 175);
}

.iconsettingprofile {
    width: 3rem;
    position: relative;
    left: 40% !important;
    top: 115px;
}

.sendfont {
    font-size: 24px;
}


.centertick {
    width: 125px;
}

  }






        

    </style>
</head>

<body style="zoom:90%;" class="bodyheight">
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: white;box-shadow: 0px 2px 5px #acacac;">

        <a class="navbar-brand" href="#">
            <img class="yajari-removebg-preview-1" src="icons/yajari-removebg-preview-1.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class=" navalign">
                <a class="nav-item2 nav-link active ahre " style=" padding-top: 10px;font-weight: bold; color: #ff6e9a;" id="" aria-current="page" href="HomePage.html">Home</a>
                <a class="nav-item2 nav-link ahre" href="RequestsPage.html" style=" padding-top: 10px;color: #3B3B3B"><b>Requests</b></a>
                <a class="nav-item2 nav-link ahre" href="ServiceProviders.html" style=" padding-top: 10px;color: #3B3B3B"><b>Service Providers</b></a>


                <a class="nav-item2 nav-link nav-publish ahre " href="PublishRequest.html">Publish a Request</a>

            </div>
            <div class="navbar-nav" id="nav-Profile">
                <div class="flex-container d-flex">
                    <div class="chatDIV">
                        <a href="Chat.html">
                            <img src="icons/ic_textsms_24px.png" style="margin-top: 0.6rem;">
                        </a>
                    </div>
                    <div style="margin-left: 10px;">
                        <div class="btn-group">
                            <button class="btn dropdown" style="padding-top: 0;" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                <img src="icons/Ellipse -7.png" alt="" style="position:relative;left: 10px;">
                            </button>
                            <ul class="ProfileDropdown dropdown-menu" style="width:15rem;" aria-labelledby="dropdownMenuClickableInside">
                                <li><a class="dropdown-item" href="ProfessionalProfile.html">
                                        <div class="row">
                                            <div class="col-2 col-sm-2">
                                                <img src="icons/ic_person_24px.png" alt="">
                                            </div>
                                            <div class="col-10 col-sm-10 mt-1">
                                                <p>View my Profile</p>
                                            </div>
                                        </div>
                                    </a></li>

                                <li>
                                    <a class="dropdown-item" href="MyRequests.html">
                                        <div class="row">
                                            <div class="col-2 col-sm-2">
                                                <img src="icons/Icon ionic-md-help-circle.png" alt="">
                                            </div>
                                            <div class="col-10 col-sm-10">
                                                <p>My Requests</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne2">
                                                <button class="accordion-button collapsed" style="padding: 0  2rem 0 1rem;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                                                    <div class="row">
                                                        <div class="col-2 col-sm-2">
                                                            <img src="icons/ic_favorite_224px.png" style="margin: 1rem 0 0 0.1rem;">
                                                        </div>
                                                        <div class="col-10 col-sm-10">
                                                            <p style="padding-top: 17px;margin-left: 0.6rem;">My Favourites</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne2" data-bs-parent="#accordionFlushExample2">
                                                <div class="accordion-body" style="padding:0;">
                                                    <ul class="ProfileDropdown" style="text-decoration: none;">
                                                        <li><a class="dropdown-item" href="MyFavouritesNeighbors.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Favourite Neighbor</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                        <li><a class="dropdown-item" href="MyFavoritesRequests.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Favourite Requests</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" style="padding: 0  2rem 1rem 1rem;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                    <div class="row">
                                                        <div class="col-2 col-sm-2">
                                                            <img src="icons/ic_brightness_high_24px.png" style="margin-top: 15px;">
                                                        </div>
                                                        <div class="col-10 col-sm-10">
                                                            <p style="padding-top: 17px;">Modify my Account</p>
                                                        </div>
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body" style="padding:0;">
                                                    <ul class="ProfileDropdown" style="text-decoration: none;">
                                                        <li><a class="dropdown-item" href="ModifyPersonalinfo.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Personal Information</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                        <li><a class="dropdown-item" href="ChangePassword.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Password</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                        <li><a class="dropdown-item" href="ModifyCategories.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>List of Categories</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                        <li><a class="dropdown-item" href="ModifyDistance.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Radius</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                        <li><a class="dropdown-item" href="ChangeLanguage.html">
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-3 text-end">
                                                                        <img src="icons/Ellipse 167.png" alt="">
                                                                    </div>
                                                                    <div class="col-8 col-sm-8 text-start mt-1">
                                                                        <p>Language</p>
                                                                    </div>
                                                                </div>
                                                            </a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <hr style="width: 80%;margin: auto;margin-bottom: 1rem;">
                                    <a class="dropdown-item" href="#">
                                        <div class="row">
                                            <div class="col-2 col-sm-2 text-end">
                                                <img src="icons/ic_power_settings_new_24px.png" alt="">
                                            </div>
                                            <div class="col-10 col-sm-10">
                                                <p>Logout</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="border-left: 2px solid gray;height: 2rem;margin-top: 0.3rem; margin-left: 20px;">
                    </div>
                    <div style="margin-left: 20px;">
                        <div class="dropdown languagesside">
                            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="icons/1280px-Flag_of_France.svg.png" alt="">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">French</a></li>
                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="chatDIV2 messageside">
                        <a href="MobileActiveChat.html">
                            <img src="icons/ic_textsms_24px.png" style="margin-top: 0.6rem;">
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </nav>
    <!--Show Case-->
    <section class="pding-topp text-center">
        <div class="container-fluid">
            <div class="background-image text-end" style="border-radius: 15px;">
                <a href="">
                    <img src="icons/ic_photo_camera_24px.png" class="BackgroundChangeImg">
                </a>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 col-sm-12" style="height: 6rem;">
                    <div class="ProfilePicCard card">
                        <img src="pictures/irene-strong-v2aKnjMbP_k-unsplash.png " class="profilepic">
                        <div class="card-img-overlay" style="padding: 0;">
                            <div class="text-center">
                                <img src="pictures/Scroll Group 1.png" class="RealizeTextImg1">
                                <a href="">
                                    <img src="icons/ic_photo_camera_24px.png" class="RealizeTextImg2">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 col-sm-12">
                    <div class="d-flex flex-wrap" style="justify-content: space-between;">
                        <div class="mrgin_leftt">
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col d-flex">
                                    <p class="ProfileText1">William ion</p>
                                    <p class="mt-2" style="margin-left: 1rem;"><span class="Privatetext">Professional</span></p>
                                </div>
                            </div>
                            <div class="row addressofjohn">
                                <div class="col d-flex">
                                    <img src="icons/ic_place_-1.png" class="ProfileAddressImg">
                                    <p class="ProfileText3">Address of john smith will come, here </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-3 joined">
                            <img src="icons/ic_date_range_-1.png" class="ProfileDateImg">
                            <p class="ProfileText2">Joined by May 2020</p>
                        </div>
                        <div class="d-flex iconfb">
                            <img src="icons/Group 2394.png" class="VerficationImg" style="    position: relative;
                                        left: -40px;">
                            <img src="icons/Group 2395.png" class="VerficationImg" style="    position: relative;
                                        left: -20px;">
                            <img src="icons/Group 2396.png" class="VerficationImg" style="    position: relative;
                                        left: -5px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About me and Map-->
    <section class="pt-5 pb-2">
        <div class="AboutMeContainer">
            <div class="row">
                <div class="col-12 col-md-7 col-sm-12 mb-5 aboutmetop">
                    <div class="AboutMeRow1">
                        <div class="row">
                            <div class="col text-start">
                                <p style="font-size: 16px;"><b>About me:</b></p>
                            </div>
                            <div class="col text-end">
                                <a href="">
                                    <img src="icons/Group -1.png" style="width: 1.5rem;">
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <p style="font-size: 14px;">In publishing and graphic design, Lorem ipsum is a
                                placeholder text commonly used to demonstrate the visual
                                form of a document or a typeface without relying on
                                meaningful content. </p>
                        </div>
                    </div>
                    <div class="AboutMeRow2" style="margin-top: 1rem;">
                        <div class="row">
                            <div class="col text-start">
                                <p style="font-size: 16px;"><b>Services:</b></p>
                            </div>
                            <div class="col text-end">
                                <a href="">
                                    <img src="icons/Group -1.png" style="width: 1.5rem;">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="servicesicon">Vehicle Maintenence</span>
                                <span class="servicesicon" id="vechile2">Vehicle Maintenence</span>
                                <span class="servicesicon" id="vechile">Vehicle Maintenence</span>
                            </div>
                            <div class="col-xs-12" style="padding-top:20px;padding-bottom: 30px;">
                                <span class="servicesicon">Vehicle Maintenence</span>
                                <span class="servicesicon" id="vechile3">Vehicle Maintenence</span>
                                <span class="servicesicon" id="vechile4">Vehicle Maintenence</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-1 col-sm-12"></div>
                <div class="col-12 col-md-4 col-sm-12 maptop">
                    <div class="row mb-5" id="map"></div>
                </div>
            </div>
        </div>
    </section>
    <section class=" pb-2 photogallery">
        <div class="AboutMeContainer">
            <div class="row">
                <div class="col-12 col-md-7 col-sm-12 mb-5">

                    <div class="AboutMeRow2 row" style="margin-top: 1rem;">
                        <div class="row">
                            <div class="col-lg-6">
                                <p style="font-size: 16px;" class="gallerycenter"><b>Photo Gallery:</b></p>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col piccenter" style="width: 10rem;">
                                <img src="pictures/cesar-carlevarino-aragon-NL_DF0Klepc-unsplash.png" class="card-img-top imagewidth">

                            </div>
                            <div class="col" style="width: 10rem;">
                                <img src="pictures/cesar-carlevarino-aragon-NL_DF0Klepc-unsplash.png" class="card-img-top imagewidth">

                            </div>

                            <div class="col" style="width: 10rem;">
                                <div class="upload-Picture">
                                    <img src="icons/ic_add_a_photo_24px.png" class="card-img-top iconsettingprofile">
                                </div>




                            </div>


                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-1 col-sm-12"></div>
                <div class="col-12 col-md-4 col-sm-12 sendrequest">
                    <div class="ReviewContainer" style="width:95%;     position: relative;
                                    top: 15px;">
                        <div class="SendRequestRow row" style="max-width: 500px;">
                            <div class="col text-center">
                                <img src="icons/Group 1458.png" class="centertick">
                            </div>
                            <div class="row text-center" style="padding-right: 0;">
                                <p style="font-size: 16px;padding-right: 0;"><b class="sendfont">Send your request privately</b></p>
                            </div>
                            <div class="row" style="position: relative;left: 12px;">
                                <a class=" nav-item nav-link SendRequestButton" data-bs-toggle="modal" role="button" data-bs-target="#staticBackdrop" data-bs-dismiss="modal">
                                    Connect Privately</a>
                                <a class=" nav-item nav-link SendRequestButtonmobile" data-bs-toggle="modal" role="button" data-bs-target="#mobilemodal" data-bs-dismiss="modal">
                                    Connect Privately </a>
                            </div>
                        </div>
                    </div>
                    <div class="ReviewContainer" style="width:95%;     position: relative;
                                    top: 15px;">



                        <div class="row" style="position: relative;top: 15px;">
                            <a href="LeaveReview.html" class=" nav-item nav-link previews"><img src="icons/whitestar.png" class="whitestar" alt="">
                                Leave your review</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Categories-->

    <!--Pictures-->

    <!--Reviews-->
    <section class="pb-5 reviewtop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="d-flex reviewparagraph">
                        <p class="ReviewText"><b> Reviews as service provider</b></p>
                        <img src="icons/Polygon 21.png" class="starimage">
                        <p class="ReviewText"><b> 4.5/5</b></p>
                        <p class="ReviewText"><b> (30)</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ReviewContainer">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">
                                            In publishing and graphic design,Lorem ipsum is a placeholder text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-lg-6 cardbottom">
                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 cardbottom">

                    <div class="onlineCard card">
                        <div class="row g-0">
                            <div class="col-2 col-sm-3 col-md-2 col-xxl-2 text-end">
                                <img src="icons/Ellipse -1.png" class="CardImg">
                            </div>
                            <div class="col-10 col-sm-9 col-md-10 col-xxl-10">
                                <div class="card-body">
                                    <div class="row">
                                        <p class="ReviewProfileName">Cristina Röhmer</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 d-flex" style="position: relative;
                                                        top: -5px;">
                                            <img src="icons/Group 2411.png" class="ReviewStarImg">
                                            <p><b>4.5</b></p>
                                            <p class="ReviewDate">07-11-2021</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="ReviewTextEnd">In publishing and graphic design,Lorem ipsum is a
                                            placeholder
                                            text commonly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center col-sm-12 col-md-12 col-lg-9 col-xxl-7">
                <a href="" class="loadmore">Load more
                    <img src="icons/ic_arrow_forward_24px.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade" id="mobilemodal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modalbody">
                    <div class="modal-body">
                        <div class="col text-center mb-3">
                            <img src="icons/bluecontact.png" style="width: 2.3rem;">
                        </div>
                        <p class="MBText1"> </p>
                        <p style="font-size: 12px;margin-bottom: 0.5rem;text-align: center;">
                            You can make a call or send a message for the further proceedings.
                        </p>
                        <div class="row" style="position: relative;top: 20px;">
                            <div class="col text-center">
                                <a href="MobileChatBlueMessage.html" class="SendMessageButton">Send Message</a>
                            </div>
                            <div class="col text-center">
                                <a href="" class="CallButton" data-bs-toggle="modal" data-bs-target="#callonmobile" data-bs-dismiss="modal">Make Call</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade" id="callonmobile" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content callonmobilebody">
                    <div class="modal-body">
                        <div class="col text-center mb-3">
                            <img src="icons/bluecontact.png" style="width: 3rem;height:3rem;">
                        </div>
                        <p class="MBText3"><b>742 009 993 23</b></p>
                        <div class="col text-center">
                            <a href="" class="CallButton2">Call</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Send Request-->
    <section>
        <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="col text-center mb-3">
                            <img src="icons/bluecontact.png" style="width: 2.3rem;">
                        </div>
                        <p class="MBText1"> </p>
                        <p class="MBText2">You can make a call or send a message
                            for the further proceedings.
                        </p>
                        <div class="row">
                            <div class="col text-center">
                                <a href="Chat.html" class="SendMessageButton">Send Message</a>
                            </div>
                            <div class="col text-center">
                                <a href="" class="CallButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" data-bs-dismiss="modal">Make Call</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade" id="staticBackdrop2" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop2Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="col text-center mb-3">
                            <img src="icons/bluecontact.png" style="width: 3rem;height:3rem;">
                        </div>
                        <p class="MBText3"><b>742 009 993 23</b></p>
                        <div class="col text-center">
                            <a href="" class="CallButtongrey">Call</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <section class="bg-light py-5">
        <div class="container" style="width: 90%;">
            <div class="row f-img " style="padding-top:0rem;">
                <div class="col-lg-3">
                    <img src="icons/yajari-removebg-preview-1.png" style="width: 16rem;position: relative;top: -15px;">
                </div>
                <div class="col-lg-9 d-flex pt-5">
                    <p style="font-size: 16px; font-weight: 900;padding-top: 15px;" class="followus">Follow Us:</p>
                    <div class="text-end socialicon">
                        <img src="icons/Group 1611.png" class="follow-img">
                        <img src="icons/Group 1613.png" class="follow-img">
                        <img src="icons/Group 1614.png" class="follow-img">
                        <img src="icons/Group 1615.png" class="follow-img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <p style="font-size: 16px; font-weight:900;"><b>FREQUENTLY ASKED QUESTION / HELP</b></p>
                    <div class="row">
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">I can't log into my
                            account</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">I can't register to my
                            account</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">How to reset / change
                            password</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">I can't find my password
                            anymore</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <p style="font-size: 16px; font-weight:900;"><b>PRESENTATION</b></p>
                    <div class="row">
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">Who are we?</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">How it works?</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <p style="font-size: 16px; font-weight:900;"><b>LEGAL INGORMATION</b></p>
                    <div class="row">
                        <a href="ContactUs.html" class="btn text-start" style="font-size: 12px; font-weight: bold;">Contact Us</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">General Conditions of Sale
                            and Use</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">Confidentiality and
                            privacy policy</a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;">Legal Notice</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <p style="font-size: 16px; font-weight:900;"><b>OUR APPLICATIONS</b></p>
                    <div class="row">
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;"><img src="icons/Group 2387.png" style="width: 10rem;"></a>
                        <a class="btn text-start" style="font-size: 12px; font-weight: bold;"><img src="icons/Group 2388.png" style="width: 10rem;"></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYW1tYXIxMjMxMjMiLCJhIjoiY2tydzJsMm9jMGNpajJucnh4M2pmaTVsZCJ9.ZxNGpJR7Qw9t3ONgdZmbQA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [74.515225, 32.467766],
            zoom: 15,
        });
        const marker1 = new mapboxgl.Marker()
            .setLngLat([74.515225, 32.467766])
            .addTo(map);

    </script>
</body>

</html>
